{% extends "base.html" %}

{% block head %}
    <title>Writer details</title>
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">{{ writer.writer_name }}</h1>
        <h2>Writer Details</h2>
        <p>Email: {{ writer.writer_email }}</p>
        <h3>Articles</h3>
        <div class="row">
            {% for article in articles %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ article.title }}</h5>
                            <p class="card-text">Category: {{ article.category }}</p>
                            <p class="card-text">Keywords: {{ article.keywords }}</p>
                            <p class="card-text">{{ article.content }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
